*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(IMG-5841.jpg);
    background-size: cover;
    background-position: center;
}

h4 {
    font-weight: normal;
}

p {
    font-weight: normal;
}

.navbar{
    height: 30px;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    margin-top: 44px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 350px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #cfad11;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #cfad11;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.btn-1{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #cfad11;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position:relative;
    overflow: hidden;
}
span{
    background-color: #cfad11;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.om-oss{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.bilder{
    padding-top: 80px;
    display: flex;
    justify-content:space-evenly;
}
.img-samuel{
    width: 200px;
    height: auto;
}
.om-oss h1{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 5px;
}
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.about h1{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 5px;
}
.row p{
    color: #fff;
    font-size: 14px;
    font-weight: 22px;
    padding: 10px;
}
.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.bild1 h3{
    position: relative;
    text-align: center;
    color: white;
}
.bild2{
    position: relative;
    text-align: center;
    color: white;
}
.bild3{
    position: relative;
    text-align: center;
    color: white;
}
.course-collar{
    width: 27%;
}
.course-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
html{
    scroll-behavior: smooth;
}
.course-col:hover{
    box-shadow: 0 0 35px 0px rgba(231, 188, 70, 0.2);
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0.7), rgba(0,0,0,0.1)), url(nycklar.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 50px auto;
}
.contact-box{
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #0b004a;
    color: #fff;
}
.container h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}
.container p{
    text-align: center;
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #0b004a;
}
.contact-left button{
    background: #0b004a;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    cursor: pointer;
    
}
.contact-left h3{
    color: #0b004a;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    color: #fff;
    padding-top: 20px;
}